.book
  display: flex
  padding: 15px
  border: solid 1px black
  font-size: 20px

.book__image
  width: 150px
  height: 150px
  border: solid 1px black

.book__description
  width: 100%
  div
    padding: 10px
    margin: 0 0 0 10px
    border: solid 1px black
    &:nth-child(2)
      margin: 10px 0 10px 10px

